#posteri, aside {
	width: 100%;
}
.poster {
	height: 20em;
}
article.poster div {
	width: 85%;
}
#preklop img {
	max-width: 50%;
}
form {
	width: 80%;
}
input{
	margin: 0.4em 4.5em;
}

@media screen and (max-width: 580px) {
	.poster {
		height: 12em;
	}
	#proizvodi article {
		width: 48%;
	}
	#preklop img {
		max-width: 60%;
	}
	form {
		width: 90%;
	}
	input{
		margin: 0.3em 3em;
	}
}

@media screen and (max-width: 380px) {
	#proizvodi article {
		width: 100%;
		margin-bottom: 1em;
	}
	#preklop img {
		max-width: 70%;
	}
	form {
		width: 100%;
	}
	input{
		margin: 0.2em 1.5em;
	}
}