* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	background-color: rgb(245, 245, 245);
}
ul {
	list-style-type: none;
}
img {
	height: auto;
}
a:link, a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}	
.omot {
	width: 90%;
	max-width: 1500px;
	margin: 1em auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#vrati, #zatvori {
	border-radius: 50%; 
	color: rgb(60, 140, 60); 
	cursor: pointer;
}
#vrati:hover, #zatvori:hover {
	color: rgb(40,180,40);
}
#vrati {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 98;
	margin: 0.3em;
	display: none;
	font-size: 2em;
}
#zatvori {
	position: absolute;
	top: 6px;
	right: 6px; 
	font-size: 1.5em;
}
header.omot.flex {
	align-items: baseline;
}
header h1 {
	color: rgb(60, 140, 60);
}
#nav {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
}
#nav li {
	padding: 0 0.5em;
}
#nav li a {
	text-transform: uppercase;
	font-size: 1.3em;
}
#nav li a:hover, #nav li.aktivan a, #navF li a:hover {
	color: rgb(60, 140, 60);
}
#posteri {
	width: 60%;
}
aside {
	width: 34%;
	text-align: center;
}
aside img {	
	max-width: 100%;
}
#prNaslov {
	text-align: center;
	margin-top: 1.3em;
	margin-bottom: 1em;
}
article.poster {
	display: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	height: 25em;
	position: relative;
}
article.poster.vidi {
	display: block;
}
article.poster div {
	position: absolute;
	left: 10%;
	top: 75%;
	width: 80%;
	background-color: rgba(220,220 ,220 , 0.8); 
	border-radius: 0.4em;
	padding: 0.5em 0.8em;
	text-align: center;
}
#proizvodi article {
	width: 30%;
	margin-bottom: 2em; 
	padding-bottom: 0.5em;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	box-shadow: 0.4em 0.4em 0.5em rgb(200,200,200);
	text-align: center;
}
#proizvodi article img {
	width: 100%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	cursor: pointer;
}
#proizvodi article img:hover {
	opacity: 0.7;
}
#proizvodi article button {
	margin-right: 0.3em;
}
#preklop {
	position: fixed;
	z-index: 100;
	top: 10%;
	left: 10%;
	width:80%;
	max-height: 90%;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(245, 245, 245);	
	border-radius: 0.6em; 
}
#preklop img {
	display: block;
	max-width: 20%;
	height: auto;
	margin: 1em auto;
	border-radius: 0.3em; 
}
#preklop div {
	margin: 1em auto;
	padding-bottom: 1em;
	text-align: center;
}
#preklop div p {
	padding: 0.7em;
}
.bledi {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.foot {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 1em 0;
}
#navF li a {
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 0 0.3em;
}
#formeOkv {
	align-items: flex-start;
}
form {
	background-color: rgb(235, 235, 235);
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 1.05em;
	border-radius: 0.5em;
	font-size: 1.1em;
	width: 45%;
}
form h2 {
	padding: 1em 0;
}
button {
	padding: 0.6em;
	cursor: pointer;
	border: none;
	border-radius: 0.4em;
	background-color: rgb(40,180,40);
	color: rgb(255,255,255);
}
input {
	margin: 0.5em 4em;
	padding: 0.3em;
	border-radius: 0.3em;
}
input:not([type="submit"]) {
	border: 0.2em solid rgba(0, 0, 0, 0.3);
}
input:focus {
	border-color:rgb(55, 88, 180);
	box-shadow: 0.05em 0.05em 0.2em rgb(60, 140, 60);
	transition: 0.3s;
}
input.pogresno {
	border-color: rgb(255,0,0);
}
input.dobro {
	border-color:rgb(40,180,40);
}
input[type="submit"] {
	margin-top: 1em;
	margin-bottom: 2em;
	cursor: pointer;
	border: none;
	background-color: rgb(40,180,40);
	color: rgb(255,255,255);
}
button:hover, input[type="submit"]:hover {
	border: 0.2em solid rgb(40,180,40);
	background-color: rgb(255,255,255);
	color: rgb(0, 0, 0);
}
input::-webkit-input-placeholder {
	text-align: center;
}
input::-moz-placeholder {
  text-align: center;
}
input:-moz-placeholder {
  text-align: center;
}
input:-ms-input-placeholder {
  text-align: center;
}
.poruka {
	font-size: 0.8em;
	color: rgb(255,0,0);
	margin-bottom: 0.8em;
}
#autor {
  display: flex;
  flex-direction: column;
	align-items: center;
	padding: 3em 1em; 
	text-align: center;
}
#autor img {
	max-width: 100%;
}
#autor h2, #autor h3{
	padding-bottom: 2.5em;
}
#autor h3 {
	padding-top: 3em;
}